<div class="jumbotron">
  <h1>Lista de Campos&Linhas</h1>

  <div class="row">
    
    <input type="text" ng-model="nomeCampo">
    <button class="btn btn-info" ng-click="vm.pesquisar(nomeCampo)">Pesquisar</button>
    <br>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Campo</th>
          <th scope="col">Linhas</th>
        </tr>
      </thead>
      <tbody ng-repeat='campo in vm.campos' ui-sref="campoEdicao({idCampo: campo.id})">
        <td><b>{{$index+1}}</b></td>
        <td>{{campo.nome}}</td>
        <td>
          <li ng-repeat='linha in campo.linhas'>
            {{linha.nome}}
          </li>
        </td>
      </tbody>
    </table>
    
  </div>

  <div class="row">
    <a ui-sref="campoCadastro">
      <button class="btn btn-success pull-right">Novo Campo</button>
    </a>
  </div>
  
</div>
