<div class="jumbotron">
  <h1>{{vm.titulo}}</h1>

  <div class="row">
    <form>
      <label>
        Nome:
        <input type="text" name="nomeCampo" ng-model="vm.campo" required>
      </label>

      <div>
        <label>Linhas: </label>
        <br><input type="text" ng-model="linha1.nome">
        <button ng-click="vm.adicionaLinha(linha1)" class="btn btn-success">Adicionar linha </button>
        <br><input type="text" ng-model="linha2.nome">
        <button ng-click="vm.adicionaLinha(linha2)" class="btn btn-success">Adicionar linha </button>
        <br><input type="text" ng-model="linha3.nome">
        <button ng-click="vm.adicionaLinha(linha3)" class="btn btn-success">Adicionar linha </button>
        <br><input type="text" ng-model="linha4.nome">
        <button ng-click="vm.adicionaLinha(linha4)" class="btn btn-success">Adicionar linha </button>
        <br><input type="text" ng-model="linha5.nome">
        <button ng-click="vm.adicionaLinha(linha5)" class="btn btn-success">Adicionar linha </button>
      </div>

      <br><label>Linhas: </label>
      <div ng-repeat='linha in vm.listaLinhas'>
        <input type="text" ng-model="linha.nome" disabled>
      </div>

      <div>
        <br><button ng-click="vm.cadastrar()" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger" ng-click="vm.redirecionar()">Cancelar</button>
      </div>
    </form>
  </div>
  
</div>
  